* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	font-family: Source Sans Pro;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: inherit;
	outline: 0;
	cursor: pointer;
}
button, li {
	cursor: pointer;
	outline: 0;
	background: transparent;
}